@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');


:root {
  --main-color: rgba(113, 168, 158, 1);
  --background-color: rgba(249, 249, 249, 1);
}

/* use variable this way color: var(--main-color)  */

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--background-color);
}
.main{
background-color: var(--background-color);
max-height: 100vh;
height: 100vh;
width: 100vw;
padding: 46px 120px;
box-sizing: border-box;
}
.logo{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.content{
display: flex;
align-items: center;
flex-wrap: wrap-reverse;
/* height: 90%; */
}
.description{
  width: 50%;
}
.text{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h1{
 font-weight: normal;
 font-size: 60px;
  color:#22322F;
}
h2{
  font-weight: lighter;
  color: #22322F;
}
.dude{
  width: 50%;
  /* padding: 0px 32px; */
}
.button{
width: 222px;
height: 67px;

font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
background-color: rgba(113, 168, 158, 1); 
border-radius: 10px; 
color: white; 
text-align: center;
border: 3px solid black;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.NavigationItem {
  margin-left: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: bolder;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.NavigationItem2 {
  margin-left: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(113, 168, 158, 1);
  text-decoration: none;
  font-size: 22px;
  font-weight: bolder;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu {
  display: none;
}
.menu-content {
  display:none;
}


.menu + .menu-content:active,
.menu:focus + .menu-content {
    display: block;
}


@media (max-width: 1200px) {
  .content {
    flex-wrap: wrap-reverse
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 22px;
  }
}
@media (max-width: 1060px) {
  .content {
    flex-wrap: wrap-reverse
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 16px;
  }
}

@media (max-width: 890px) {
  .nav {
    display: none;
  }

  .menu-icon {
    height: 20px;
    padding-right: 10px;
  }

  .menu {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #00b4d8;
  color: white;
  padding: 16px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: 'Source Sans Pro', sans-serif;
  color:black;
  width: 98px;
  height: 37px; 
  background-color: white;
  border: 1px solid #22322F;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  }
  .menu-button {
    position: relative;
    display: inline-block;
    display:flex;
  justify-content: center;
  align-content: center;
  }
  .menu-content {
    display: none;
    position: absolute;
    min-width: 98 px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 37px;
  }
  .menu-content a {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Source Sans Pro', sans-serif;
    color:black;
    width: 98px;
    height: 37px; 
    background-color: white;
    border: 1px solid #22322F;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
  }
  .menu-content a:focus {background-color: rgba(113, 168, 158, 1);
  }
  .menu-button:focus .menu-content {
    display: block;
  }
  .menu-button:hover .menu {
    background-color: rgba(113, 168, 158, 1);;
  }
  


  .main{

     padding: 20px 50px;
  }
  .description {
    width: 100%;
  }
  .dude {
    width: 75%;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .content {
    flex-wrap: wrap-reverse
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 16px;
  }
}